<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet/less" type="text/css" href="./theme/css/style.less">
  <script src="./theme/js/less-1.5.0.min.js" type="text/javascript"></script>
  <!-- <link rel="stylesheet" type="text/css" href="./theme/css/style.css"> -->

  <link rel="stylesheet" type="text/css" href="./theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|PT+Mono">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Susheng">
  <meta name="description" content="Posts and writings by Susheng">


<meta name="keywords" content="Pelican, GitHub, Blog">

  <title>
Building Static Blog  </title>

</head>

<body>
  <aside>
    <div id="user_meta">
      <a href=".">
        <img src="./theme/images/logo.png" alt="logo">
      </a>
      <h2><a href=".">Susheng</a></h2>
      <p></p>
      <ul>
        <li><a href="/about-me.html">About</a></li>
        <li><a href="/">Posts</a></li>
        <li><a href="mailto:adityz16@gmail.com">Email</a></li>
      </ul>
    </div>
  </aside>

  <main>
    <header>
<p>Posted on Thu 08 May 2014</p>
    </header>

<article>
  <div class="article_title">
    <h3><a href="./building-static-blog.html">Building Static Blog</a></h3>
  </div>
  <div class="article_text">
    <p>In this my first post, let me go through how to build a static Blog using <a href="https://github.com/getpelican/pelican"><strong>Pelican</strong></a> + <a href="https://github.com/"><strong>Github</strong></a> like this.</p>
<h1>Why writing this?</h1>
<p>There are plenty of tutorials on building up static blog, but most of them contain some errors or miss some very important tips.</p>
<p><a href="http://www.lizherui.com/pages/2013/08/17/build_blog.html">Chinese</a>
<a href="http://blog.xlarrakoetxea.org/posts/2012/10/creating-a-blog-with-pelican/">English</a></p>
<h1>Theme</h1>
<p>There are quite a lot of themes for options, however I really like this one. <a href="https://github.com/giulivo/pelican-svbhack"><strong>pelican-svbhack</strong></a> is a very neat theme for Pelican. However, one big annoying thing is that it opens a new tab or window for links on the left side. I don't know why the author does this, but according to this article <a href="http://www.problogdesign.com/blog-usability/new-window-for-a-new-link/">"New Window for a New Link?"</a>, please give the right back to the user. So simply edit two lines in <strong>pelican-svbhack/templates/base.html</strong> ---- ~~target="_blank"~~.</p>
<div class="highlight"><pre>        {% for name, link in LINKS %}
        <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ link }}&quot;</span><span class="nt">&gt;</span>{{ name }}<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        {% endfor %}
        {% for name, link in SOCIAL %}
        <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ link }}&quot;</span><span class="nt">&gt;</span>{{ name }}<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        {% endfor %}
</pre></div>


<h1>GitHub</h1>
<div class="highlight"><pre><span class="err">进入</span><span class="n">output</span><span class="err">把自己刚刚建好的</span><span class="n">username</span><span class="p">.</span><span class="n">github</span><span class="p">.</span><span class="n">io</span><span class="err">版本库</span><span class="n">clone</span><span class="err">下来：</span>
<span class="n">cd</span> <span class="n">output</span>
<span class="n">git</span> <span class="n">clone</span> <span class="n">git</span><span class="err">@</span><span class="n">github</span><span class="p">.</span><span class="n">com</span><span class="o">:</span><span class="n">username</span><span class="o">/</span><span class="n">username</span><span class="p">.</span><span class="n">github</span><span class="p">.</span><span class="n">io</span><span class="p">.</span><span class="n">git</span>
</pre></div>


<p>This is not corret, which will create a new directory in your <strong>output</strong> folder. And when you run <strong>make html</strong>, the git repository will be cleared. The correct way is:</p>
<div class="highlight"><pre><span class="n">git</span> <span class="n">init</span>
<span class="n">git</span> <span class="n">remote</span> <span class="n">add</span> <span class="n">origin</span> <span class="n">YourGitRepo</span>
<span class="n">git</span> <span class="n">push</span> <span class="n">origin</span> <span class="n">master</span>
</pre></div>


<p>Of course, the assumption is that your SSH is set correctly.</p>
  </div>
  <div class="article_meta">
    <p>Category: <a href="./category/blog.html">Blog</a></p>
    <p>Tags:
      <a href="./tag/pelican.html">Pelican</a>,      <a href="./tag/github.html">GitHub</a>,      <a href="./tag/blog.html">Blog</a>    </p>
    <p>Comments: <a href="#" onclick="javascript:toggleComments();return false;">toggle</a></p>
  </div>

    <div id="article_comments" style="display:block">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
           var disqus_identifier = "building-static-blog.html";
           (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://susheng.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
    </div>

</article>

    <footer>
<p><a href="./" class="button_accent">&larr; Back to Index</a></p>
<script language="javascript">
    function toggleComments() {
        var commentDiv = document.getElementById("article_comments");
        (commentDiv.style.display == "none") ? commentDiv.style.display = "block" : commentDiv.style.display = "none";
        return false;
    }
</script>
    </footer>

    <div id="ending_message">
      <p>&copy; Susheng. Built using <a href="http://getpelican.com" target="_blank">Pelican</a>. Theme by Giulio Fidente on <a href="https://github.com/giulivo/pelican-svbhack" target="_blank">github</a>. .</p>
    </div>
  </main>
</body>
</html>